<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SideBar</title>
</head>
<body>

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <img src="/assets/img/Note Overflow.png" style="width: 80%" alt="..." />
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Public
        </div>

        <!-- Nav Item - Shared Notes -->
        <li class="nav-item">
            <a th:class="'nav-link' + (${page == 'notes'} ? ' text-white' : '')" href="/notes">
                <i th:class="'fa-solid fa-clipboard' + (${page == 'notes'} ? ' text-white' : '')"></i>
                <span>Shared Notes</span>
            </a>
        </li>

        <!-- Nav Item - Tags -->
        <li class="nav-item">
            <a th:class="'nav-link' + (${page == 'tags'} ? ' text-white' : '')" href="/tags">
                <i th:class="'fa-solid fa-tags' + (${page == 'tags'} ? ' text-white' : '')"></i>
                <span>Tags</span>
            </a>
        </li>

        <!-- Nav Item - Users -->
        <li class="nav-item">
            <a th:class="'nav-link' + (${page == 'users'} ? ' text-white' : '')" href="/users">
                <i th:class="'fa-solid fa-users' + (${page == 'users'} ? ' text-white' : '')"></i>
                <span>Users</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" sec:authorize="isAuthenticated()">

        <!-- Heading -->
        <div class="sidebar-heading" sec:authorize="isAuthenticated()">
            Private
        </div>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/users/{id}(id=${#authentication.principal.id})}">
                <i class="fa-solid fa-id-badge"></i>
                <span>Personal Notes</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="/assets/img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2">Share your personal notes to others</p>
            <a class="btn btn-warning btn-sm" href="/notes/create">Create Note</a>
        </div>

    </ul>
    <!-- End of Sidebar -->

</body>
</html>
