<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SideBar</title>
</head>
<body>

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <img src="/assets/img/Note Overflow.png" style="width: 80%" alt="..." />
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Public
        </div>

        <!-- Nav Item - Shared Notes -->
        <li class="nav-item">
            <a class="nav-link" href="/notes">
                <i class="fa-solid fa-clipboard"></i>
                <span>Shared Notes</span>
            </a>
        </li>

        <!-- Nav Item - Tags -->
        <li class="nav-item">
            <a class="nav-link" href="/tags">
                <i class="fa-solid fa-tags"></i>
                <span>Tags</span>
            </a>
        </li>

        <!-- Nav Item - Users -->
        <li class="nav-item">
            <a class="nav-link" href="/users">
                <i class="fa-solid fa-users"></i>
                <span>Users</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Private
        </div>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/users/1">
                <i class="fa-solid fa-id-badge"></i>
                <span>Personal Note</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="/assets/img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2">Share your personal notes to others</p>
            <a class="btn btn-warning btn-sm" href="/notes/create">Create Note</a>
        </div>

    </ul>
    <!-- End of Sidebar -->

</body>
</html>
