<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>TopBar</title>
</head>
<body>

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form action="/notes" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small keyword" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2" name="query" th:value="${param.query}" />
                <div class="keywords"></div>
                <div class="input-group-append">
                    <button class="btn btn-dark" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto" sec:authorize="!isAuthenticated()">
            <li class="nav-item dropdown no-arrow mx-1 pr-20">
                <a class="nav-link" href="/login">
                    <strong>Login</strong>
                </a>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item no-arrow">
                <a class="nav-link" href="/join">
                    <strong>Sign UP</strong>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown" style="height: 50vh;">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <!-- 검색어 -->
                            <input type="text" class="form-control bg-light border-0 small keyword"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter" th:text="${notificationResponse.notificationReading}">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in overflow-auto"
                     aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        알림
                    </h6>
                    <th:block th:each="notification : ${notificationResponse.notificationDtos}">
                        <a class="dropdown-item d-flex align-items-center" th:if="${notification.noteId != null}"
                           th:href="@{/notes/detail/{noteId}(noteId=${notification.noteId})}">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <img class="img-profile rounded-circle" style="width: 50px; height: 50px;"
                                         th:src="${notification.userImage}">
                                </div>
                            </div>
                            <div >
                                <div class="small text-gray-500" th:text="${notification.timeResult}">December 12, 2019</div>
                                <span class="font-weight-bold" th:text="${notification.nickname}">eoghks5953</span>
                                <span th:text="${notification.content}">님이 회원님을 팔로우하기 시작했습니다.</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" th:unless="${notification.noteId != null}"
                           th:href="@{/users/{userId}(userId=${notification.userId})}">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <img class="img-profile rounded-circle" style="width: 50px; height: 50px;"
                                         th:src="${notification.userImage}">
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500" th:text="${notification.timeResult}">December 12, 2019</div>
                                <span class="font-weight-bold" th:text="${notification.nickname}">eoghks5953</span>
                                <span th:text="${notification.content}">님이 회원님을 팔로우하기 시작했습니다.</span>
                            </div>
                        </a>
                    </th:block>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name">userName</span>
                    <img class="img-profile rounded-circle"
                         th:src="${#authentication.principal.userImage}">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:href="@{/users/{id}(id=${#authentication.principal.id})}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        My Page
                    </a>
                    <a class="dropdown-item" th:href="@{/users/{id}/edit(id=${#authentication.principal.id})}">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile Edit
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->

</body>
</html>
