<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Note Overflow</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/keyword.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"/>
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul id="header-sidebar">
            SideBar 부분
            <br/>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav id="header-topbar">
                    TopBar 부분
                    <br/>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div>
                        <div class="row d-flex justify-content-start align-items-center">
                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-2 col-md-2 mb-4">
                                <img class="w-60" src="/assets/img/undraw_profile.svg" alt="tree">

                            </div>
                            <div class="col-xl-6 col-md-6 mb-4">
                                <div>
                                    <h3 id="user-id" class="card-title text-mute">eoghks5953</h3>
                                    <h5 id="user-email" class="card-subtitle text-dark mb-3">eoghks@gmail.com</h5>
                                    <h5 id="user-phone" class="card-subtitle text-dark mb-3">010-1234-5678</h5>
                                    <span id="user-follower">팔로워 22</span>
                                    <span id="user-following">팔로잉 23</span>
                                    <input type="hidden" name="principal" id="principal" th:value="${principalId}">
                                </div>
                            </div>
                        </div>
                        <hr class="sidebar-divider">

                        <!-- Page Wrapper -->
                        <div class="d-flex">

                            <!-- Sidebar -->
                            <ul class="navbar-nav bg-gradient-white sidebar sidebar-dark accordion" id="accordionSidebar" style="border-right-style: solid; border-color: gray;">

                                <!-- Heading -->
                                <div class="sidebar-heading text-dark">
                                    Shared Note
                                </div>

                                    <!-- Nav Item - Pages Collapse Menu -->
                                    <li class="nav-item" th:each="mCategory, num: ${sharedCategory}">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" th:data-target="'#collapseOne'+${num.count}"
                                           aria-expanded="true" th:aria-controls="'collapseOne'+${num.count}">
                                            <i class="fas fa-book-open" style="color:gray;">
                                                <span th:text="${mCategory}">Spring</span>
                                            </i>
                                        </a>
                                        <div th:id="'collapseOne'+${num.count}" class="collapse" th:aria-labelledby="'headingOne'+${num.count}" data-parent="#accordionSidebar">
                                            <div class="py-2 collapse-inner rounded" style="background-color:rgb(234, 234, 234);">
                                                <h6 class="collapse-header">Contents:</h6>
                                                <th:block th:each="list: ${sharedList}">
                                                    <th:block th:if="${mCategory == list.MCategory}">
                                                        <a class="collapse-item" th:onclick="'note('+${list.id}+', '+${list.userAccount.id}+')'" th:text="${list.SCategory}">Spring</a>
                                                    </th:block>
                                                </th:block>
                                            </div>
                                        </div>
                                    </li>

                                <!-- Divider -->
                                <hr class="sidebar-divider">

                                <!-- Heading -->
                                <div class="sidebar-heading text-dark">
                                    Private Note
                                </div>

                                <!-- Nav Item - Pages Collapse Menu -->
                                <li class="nav-item" th:each="mCategory, num: ${privateCategory}">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" th:data-target="'#collapseTwo'+${num.count}"
                                       aria-expanded="true" th:aria-controls="'collapseTwo'+${num.count}">
                                        <i class="fas fa-book-open" style="color:gray;">
                                            <span th:text="${mCategory}">Spring</span>
                                        </i>
                                    </a>
                                    <div th:id="'collapseTwo'+${num.count}" class="collapse" th:aria-labelledby="'headingTwo'+${num.count}" data-parent="#accordionSidebar">
                                        <div class="py-2 collapse-inner rounded" style="background-color:rgb(234, 234, 234);">
                                            <h6 class="collapse-header">Contents:</h6>
                                            <th:block th:each="list: ${privateList}">
                                                <th:block th:if="${mCategory == list.MCategory}">
                                                    <a class="collapse-item" th:onclick="'note('+${list.id}+', '+${list.userAccount.id}+')'" th:text="${list.SCategory}">Spring</a>
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <!-- End of Sidebar -->

                            <!-- Content Wrapper -->
                            <div class="d-flex flex-column" style="background-color: #f8f9fc; width: 100%; overflow-x: hidden;">

                                <!-- Main Content -->
                                <div style="flex: 1 0 auto;">

                                    <!-- Begin Page Content -->
                                    <div class="container-fluid">

                                        <!-- Page Heading -->
                                        <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                                        </div>

                                        <div class="row">
                                            <!-- Earnings (Monthly) Card Example -->
                                            <div class="col-xl-1 col-md-1 mb-4">
                                            </div>
                                            <div class="col-xl-10 col-md-10 mb-4">
                                                <div id="note-title">
                                                </div>
                                                <div id="note-tag">
                                                </div>
                                                <div id="note-main">
                                                    노트 내용
                                                </div>
                                            </div>
                                            <div class="col-xl-1 col-md-1 mb-4">
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.container-fluid -->

                                </div>
                                <!-- End of Main Content -->

                            </div>
                            <!-- /.container-fluid -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer">
                <br/>
                Footer 부분
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div id="logoutModal">
        <!-- 로그아웃 모델 -->
    </div>

    <script src="https://kit.fontawesome.com/84c60fd987.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/custom/note.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $('.summernote').summernote({
            placeholder: 'Content Here',
            tabsize: 2,
            height: 400,
            maxHeight: 1200,
            minHeight: 400,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['help']]
            ]
        });
    </script>

</body>
</html>
