<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Note Overflow</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/keyword.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul id="header-sidebar">
            SideBar 부분
            <br/>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav id="header-topbar">
                    TopBar 부분
                    <br/>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div id="note-header" class="col-xl-10 col-md-10 mb-2">
                            <h2>SpringBoot에 대하여 ~~</h2>
                        </div>
                    </div>

                    <div id="note-tags" class="row mb-3">
                        <div class="badge bg-warning p-2 ml-2 mr-4">
                            <a href="#" style="color: white;">spring</a>
                        </div>
                        <div class="badge bg-warning p-2 mr-4">
                            <a href="#" style="color: white;">springboot</a>
                        </div>
                        <div class="badge bg-warning p-2 mr-4">
                            <a href="#" style="color: white;">java</a>
                        </div>
                    </div>

                    <div class="row">
                        <div id="note-create-at" class="col-xl-3 col-md-10 mb-2 d-flex justify-content-center align-items-center">
                            <h6>2022-03-01</h6>
                        </div>
                        <div id="note-viewed" class="col-xl-3 col-md-10 mb-2 d-flex justify-content-center align-items-center">
                            <h6>View 2345</h6>
                        </div>
                        <div id="note-liked" class="col-xl-3 col-md-10 mb-2 d-flex justify-content-center align-items-center">
                            <button class="btn btn-warning btn-sm" th:if="${sharedNote.likeCheck} == false" th:onclick="'likeAdd('+${sharedNote.noteResponse.id}+')'">좋아요</button>
                            <button class="btn btn-danger btn-sm" th:unless="${sharedNote.likeCheck} == false" th:onclick="'likeDelete('+${sharedNote.noteResponse.id}+')'">좋아요 취소</button>
                            <span>Liked 4356</span>
                        </div>
                        <div id="note-nickname" class="col-xl-3 col-md-10 mb-2 d-flex justify-content-center align-items-center">
                            <a href="#" style="text-decoration: none; color: red;">eoghks5953</a>
                            <div id="user-follow">
                                <span>3명</span>
                                <button class="btn btn-warning btn-sm" th:if="${sharedNote.followCheck} == false" th:onclick="'followAdd('+${sharedNote.noteResponse.userId}+')'">팔로우</button>
                                <button class="btn btn-danger btn-sm" th:unless="${sharedNote.followCheck} == false" th:onclick="'followDelete('+${sharedNote.noteResponse.id}+')'">팔로우 취소</button>
                            </div>
                        </div>
                    </div>

                    <hr class="sidsebar-divider">

                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-8 col-md-10 mb-4">
                            <!-- Note section -->
                            <div id="note-content" class="mb-4">
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                                내용!@!@!@!@!@!@!@!@!@!@!<br/>
                            </div>

                            <!-- Comments section-->
                            <section class="mb-5">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <!-- Comment form-->
                                        <form id="comment-form" class="mb-4">
                                            <input type="hidden" class="note-id">
                                            <textarea id="comment-textbox" class="form-control mb-3" rows="3" placeholder="댓글을 입력해주세요!"></textarea>
                                            <button class="btn btn-warning" id="comment-submit" type="submit">작성</button>
                                        </form>
                                        <!-- Comment with nested comments-->
                                        <div id="note-comments">
                                            <div class="d-flex">
                                                <!-- Parent comment-->
                                                <div class="flex-shrink-0 mr-3">
                                                    <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                                </div>
                                                <div class="ms-3">
                                                    <div id="comment-nickname" class="fw-bold">Commenter Name</div>
                                                    <span id="comment-created-at" class="text-black-50">2022-02-28 12:34</span>
                                                    <div id="comment-content">If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.</div>
                                                </div>
                                            </div>
                                            <!-- Single comment-->
                                            <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                    <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                                </div>
                                                <div class="ms-3">
                                                    <div class="fw-bold">Commenter Name </div>
                                                    <div>When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>

                        </div>
                        <div class="col-xl-4 col-md-1 mb-4">
                            <h2>Related</h2>

                            <div class="card mb-4 py-3 border-left-warning">
                                <div class="card-body">
                                    <div class="d-flex justify-content-start">
                                        <div>
                                            <a href="#" style="text-decoration:none; color:black;">Java에 대하여 ~~</a><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-4 py-3 border-left-warning">
                                <div class="card-body">
                                    <div class="d-flex justify-content-start">
                                        <div>
                                            <a href="#" style="text-decoration:none; color:black;">SpringBoot에 대하여 ~~</a><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-4 py-3 border-left-warning">
                                <div class="card-body">
                                    <div class="d-flex justify-content-start">
                                        <div>
                                            <a href="#" style="text-decoration:none; color:black;">Spring에 대하여 ~~</a><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer">
                <br/>
                Footer 부분
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div id="logoutModal">
        <!-- 로그아웃 모델 -->
    </div>

    <script src="https://kit.fontawesome.com/84c60fd987.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/js/custom/keyword.js"></script>
    <script src="/js/custom/like-note.js"></script>
    <script src="/js/custom/user-follow.js"></script>

</body>
</html>
