<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Note Overflow</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Custom styles for this template-->
    <link href="/css/keyword.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul id="header-sidebar">
            SideBar 부분
            <br/>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav id="header-topbar">
                    TopBar 부분
                    <br/>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-1 text-gray-800">Notes</h1><br/>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group mb-4">
                            <a type="button" href="#" class="btn btn-outline-dark note-popular">인기순</a>
                            <a type="button" href="#" class="btn btn-outline-dark note-update">최신등록순</a>
                        </div>

                        <div class="btn-group mb-4">
                            <a type="button" href="#" class="btn btn-outline-dark paging-10">10</a>
                            <a type="button" href="#" class="btn btn-outline-dark paging-30">30</a>
                            <a type="button" href="#" class="btn btn-outline-dark paging-60">60</a>
                        </div>
                    </div>


                    <!-- Content Row -->
                    <div class="row" id="note-list">
                        <!-- Border Left Utilities -->
                        <div class="col-lg-8">
                            <div class="card mb-4 py-3 border-left-warning">
                                <div class="card-body">
                                    <div class="d-flex justify-content-start mb-3">
                                        <div id="note-title">
                                            <a href="#" style="text-decoration:none; color:black;">springBoot</a><br/>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div id="note-tags">
                                            <div class="badge bg-warning p-2">
                                                <a href="#" style="color: white;">springboot</a>
                                            </div>
                                            <div class="badge bg-warning p-2">
                                                <a href="#" style="color: white;">java</a>
                                            </div>
                                            <div class="badge bg-warning p-2">
                                                <a href="#" style="color: white;">spring</a>
                                            </div>
                                        </div>
                                        <div id="note-create">
                                            <img class="rounded-circle" style="width: 25px; height: 25px;" src="#">
                                            <a href="#" style="text-decoration:none; color:red;">eoghks5953</a> <code style="color: gray;">2022-01-01</code>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-sm-12 col-md-5 page-element">
                            Showing 1 to 26 of 127 entries
                        </div>
                        <div id="pagination" class="col-sm-12 col-md-7">
                            <ul class="pagination">
                                <li class="page-item"><a href="#" class="page-link">&lt;&lt;</a></li>
                                <li class="page-item"><a href="#" class="page-link">&lt;</a></li>
                                <li class="page-item"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">&gt;</a></li>
                                <li class="page-item"><a href="#" class="page-link">&gt;&gt;</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer id="footer">
                <br/>
                Footer 부분
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div id="logoutModal">
        <!-- 로그아웃 모델 -->
    </div>

    <script src="https://kit.fontawesome.com/84c60fd987.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

    <script src="/js/custom/keyword.js"></script>

</body>
</html>
