<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Note Overflow</title>
    <!-- Favicon-->
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">

    <!-- Navigation-->
    <nav id="mainNav">
        MainHeader
        <br/>
    </nav>

    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Member Login</h2>
            </div><br/><br/><br/>
            <form id="contactForm" action="#" method="post">
                <div class="row align-items-stretch">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" id="username" name="username" type="userEmail" maxlength="50" placeholder="UserEmail" required/>
                        </div><br/><br/>
                        <div class="form-group">
                            <input class="form-control" id="password" name="password" type="userPassword" maxlength="30" placeholder="userPassword" required/>
                        </div>
                        <div class="form-group">
                            <div class="alert alert-danger mt-5" th:if="${param.exception} != null" role="alert" th:text="'❗ '+${param.exception}">
                            </div>
                            <div th:if="${param.exception} == null" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div><br/>
                <!-- Submit Button-->
                <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase">Login</button></div>
            </form>
        </div>
    </header>

    <footer class="footer py-4">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">Copyright &copy; Your Website 2022</div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script src="https://kit.fontawesome.com/84c60fd987.js" crossorigin="anonymous"></script>

</body>
</html>
